<div class="checkbox-container" (click)="changeCheck()">
    <div class="checkbox-checked" [hidden]="!check">
        <md-icon>check</md-icon>
        <input type="checkbox" [(ngModel)]="check" style="display:none;">
    </div>
</div>
