.checkbox-container {border: 1px solid #afb4be; border-radius: 2px; width: 24px; height: 24px; background: #FFF; cursor: pointer;}
.checkbox-checked {background: #4b71fc; width: 24px; height: 24px;}
.checkbox-checked md-icon {color: #FFF;}