<div class="process-return form-container" *ngIf="order">
    <h1>Create Return > Order #{{ order.order_id }}</h1>
    <h3 style="color: #4b71fc">The list you are seeing now is only for the products which can be returned based on the purchased quantity and fulfillment, with previous return reason and type, if you wish to see your return records please go to the <a href="#" [routerLink]="['/orders/', id, 'edit']"> order/edit </a> page
    </h3>

    <h3 *ngIf="!editable" style="color: red;">This Order has not been shipped yet, can not create any return. </h3>
    <div *ngIf="returnableProducts.length > 0; else elseBlock">
    	<div *ngIf="returnableProducts.length > 0">
    		<listing [(items)]="returnableProducts" [fields]="fields" (filter)="filterItems($event)" (updateSortAction)="updateSort($event)" [order]="order" [sortabledirection]="sortabledirection" [showPagination]="false" [actionbar]="false" [keywordFilter]="false"></listing>	
    	</div>
    </div>
    	<!-- <ng-template #elseBlock>
    		<listing [(items)]="products" [fields]="fields" (filter)="filterItems($event)" (updateSortAction)="updateSort($event)" [order]="order" [sortabledirection]="sortabledirection" [showPagination]="false" [actionbar]="false" [keywordFilter]="false"></listing>
    	</ng-template> -->
</div>

<div class="bottom-action-container">
    <div class="button-container">
        <button md-button class="btn btn-cancel" [routerLink]="'/orders'">Cancel</button>
        <button *ngIf="editable && returnableProducts.length > 0" md-button class="btn btn-primary" (click)="createReturn()">Create Return</button>
    </div>
</div>