<div class="page-container">
    <h1>Seller Licence Setup</h1>
    <div>
        <md-tab-group class="setup-content no-tabs" [selectedIndex]="agreementIndex">
            <md-tab label="agreement">
                <form [formGroup]="taxid">
                    <p>Welcome to the SL Application for BigCommerce...</p>
                    <p>In order to sell Seller License products you must afree to the following terms and conditions:</p>
                    <div class="licence-document" [innerHTML]="data.agreement"></div>
                    <div class="agreement-action">
                        <input-variable [input]="inputs.taxid.taxid" [form]="taxid"></input-variable>
                        <button md-button class="btn btn-primary" [disabled]="!taxid.valid" (click)="nextStep()">Agree and Continue</button>
                    </div>
                </form>
            </md-tab>
            <md-tab label="options">
                <form [formGroup]="setupOptions">
                    <p>Please choose your default store settings for currency, product pricing and shipping:</p>
                    <div class="setup-options">
                        <md-card>
                            <md-card-header>
                                <md-card-title>Currency Setup</md-card-title>
                            </md-card-header>
                            <md-card-content>
                                <input-variable [input]="inputs.setupOptions.currency" [form]="setupOptions"></input-variable>
                                <p>Currently we only allow USD.  Please inquire if you require other currencies.</p>
                            </md-card-content>
                        </md-card>
                        <md-card>
                            <md-card-header>
                                <md-card-title>Product Markup</md-card-title>
                            </md-card-header>
                            <md-card-content>
                                <input-variable [input]="inputs.setupOptions.map_percentage" [form]="setupOptions"></input-variable>
                                <p>The precentage above will be added to the supplier pricing during the import of products into your store from Seller Licence</p>
                            </md-card-content>
                        </md-card>
                    </div>
                    <div class="agreement-action">
                        <button md-button class="btn btn-primary" [disabled]="!setupOptions.valid" (click)="nextStep()">Proceed</button>
                    </div>
                </form>
            </md-tab>
            <md-tab label="choose-products">
                <p>Now that your account is properly set-up, you can now go an choose products to add to your store.</p>
                <p>The store will open up in a new tab, so please disable any pop-up blockers to navigate to the products page.</p>
                <button md-button class="btn btn-primary" (click)="chooseProducts()">Choose Products</button>
            </md-tab>
        </md-tab-group>
    </div>
</div>