.licence-document {
    border: 10px solid #f0f0f0;
    padding: 12px;
    max-height: 65%;
    overflow-y: scroll;
}
.agreement-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}