<div class="edit-order form-container" *ngIf="order">
    <h1>Edit Order</h1>
    <h3 *ngIf="!editable" style="color: #4b71fc;">Your order is now under processed, the fulfillment can not be changed anymore</h3>
    <div class="form-input-container">
        <div class="col1">
            <!-- <form [formGroup]="order" (ngSubmit)="saveOrder()">
                <div *ngFor="let input of inputs" class="form-item">
                    <input-variable [input]="input" [form]="order" [disabled]=true></input-variable>
                </div>
            </form> -->
            <input-text [label]="'Customer Name'" [(model)]="orderResponse.customer_name" [disabled]=true></input-text>
            <input-text [label]="'Customer Email'" [(model)]="orderResponse.email" [disabled]=true></input-text>
            <input-text [label]="'Customer Message'" [(model)]="orderResponse.customer_message" [disabled]=true></input-text>
            <input-text [label]="'Status'" [(model)]="orderResponse.status" [disabled]=true></input-text>
            <input-text [label]="'Order Number'" [(model)]="orderResponse.order_id" [disabled]=true></input-text>
        </div>
    </div>
    <div *ngIf="shipments && shipments.length > 0">
        <h3>Shipping Details</h3>
        <listing [(items)]="shipments" [fields]="shipping_fields" (filter)="filterItems($event)" (updateSortAction)="updateSort($event)" [order]="order" [sortabledirection]="sortabledirection" [showPagination]="false" [keywordFilter]="false" [actionbar]="false"></listing>
    </div>

    <div *ngIf="returns && returns.length > 0">
        <h3>Returns Tracking</h3>
        <listing [(items)]="returns" [fields]="returns_fields" (filter)="filterItems($event)" (updateSortAction)="updateSort($event)" [order]="order" [sortabledirection]="sortabledirection" [showPagination]="false" [keywordFilter]="false" [actionbar]="false"></listing>
    </div>

    <h3>Order Products</h3>
    <listing [(items)]="products" [fields]="product_fields" (filter)="filterItems($event)" [actionbar]="false" (updateSortAction)="updateSort($event)" [order]="order" [sortabledirection]="sortabledirection" [showPagination]="false" [keywordFilter]="false"></listing>
</div>

<div class="bottom-action-container">
    <div class="button-container">
        <button md-button class="btn btn-secondary" [routerLink]="'/orders'">Back</button>
        <button *ngIf="editable" md-button class="btn btn-primary" (click)="saveOrder()">Save</button>
    </div>
</div>