<div class="pagination">
    <div class="pagination-container">
        <button md-button class="md-icon-button"(click)="changePage(1)" [disabled]="page <= 1">
            <md-icon>first_page</md-icon>
        </button>
        <button md-button class="md-icon-button" (click)="prevPage(page)" [disabled]="page <= 1">
            <md-icon>chevron_left</md-icon>
        </button>
        <!--<a (click)="changePage(1)" *ngIf="page > 1">First</a>
        <a (click)="prevPage(page)" *ngIf="page > 1">Previous</a>-->
        <form class="pagination-input" (ngSubmit)="changePage(page)">
            <input type="text" name="page" [(ngModel)]="page" >
        </form>
        <!--<a (click)="nextPage(page)" *ngIf="page < maxpages">Next</a>
        <a (click)="changePage(maxpages)" *ngIf="page < maxpages">Last</a>-->
        <button md-button class="md-icon-button" (click)="nextPage(page)" [disabled]="page >= maxpages">
            <md-icon>chevron_right</md-icon>
        </button>
        <button md-button class="md-icon-button" (click)="changePage(maxpages)" [disabled]="page >= maxpages">
            <md-icon>last_page</md-icon>
        </button>
    </div>
    <div class="pagination-view">
        <div class="dropdown" [class.showing]="showing" (click)="showing = !showing">
            <button>
                <span>View {{ limit }}</span>
                <md-icon class="material-icons">arrow_drop_down</md-icon>
            </button>
            <ul class="dropdown-options">
                <li *ngFor="let view of views">
                    <a (click)="changeLimit(view)">{{ view }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>