<div class="page-container">
    <h1>Products</h1>
    <listing [(items)]="products" [page]="page" [maxpages]="maxpages" [(limit)]="limit" [fields]="fields" [bulkOptions]="bulkOptions" (bulkOptionChange)="bulkChange($event)" (onChange)="changePage($event)" (filter)="filterItems($event)"  [actionButtons]="actionButtons" (emitAction)="doAction($event)"></listing>
    <h3 *ngIf="!dataAvailable" style="color: #4b71fc">There is no product yet.</h3>
</div>