.action-bar-components {
    max-height: 35px;
    display: flex;
}
.action-bar-form {
    border-left: 1px solid #e4e7ed;
    border-right: 1px solid #e4e7ed;
    padding: 8px 16px;
    margin: -8px 16px;
}
.action-bar-components select, .action-bar-components input[type="text"] {
    max-width: 180px;
    padding: 0 7px;
    width: auto;
    height: 34px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #d7d6d9;
    color: #34313f;
    outline: none;
}
.action-bar-components input[type="text"]::placeholder {
    color: #aaa;
}
.action-bar-components button {
    background: #fff;
    border: 1px solid #4b71fc;
    color: #4b71fc;
    padding: 6px 15px;
    margin-left: 4px;
    min-height: 0;
    height: auto;
    line-height: 20px;
}