<div class="quantity-select">
    <!-- <md-icon (click)="changeQty(false)">expand_more</md-icon> -->
    <input type="text" name="qty" [(ngModel)]="qsvalue" >
    <md-icon (click)="changeQty(true)">expand_less</md-icon>
</div>