.quantity-select {
    display: inline-block;
    position: relative;
    top: -3px;
}
.quantity-select input {
    padding: 8px;
    max-width: 40px;
    border: 1px solid #e4e7ed;
    text-align: center;
    border-radius: 2px;
}

.quantity-select md-icon {
    background-color: #FFF;
    margin: -3px;
    position: relative;
    top: 8px;
    height: 23px;
    padding: 5px 6px;
    cursor: pointer;
    user-select: none;
}

.quantity-select md-icon:hover {
    color: #4b71fc;
}