<div *ngIf="invoices">
	<h1>Purchase Order</h1>
	<h3>Supplier Fulfilled Products</h3>
	<listing [(items)]="invoices" [fields]="fields" [bulkOptions]="bulkOptions" [order]="order" [sortabledirection]="sortabledirection" [actionbar]="false" [showPagination]="false"></listing>	
	<div style="float: right;">
		<input-text [label]="'Subtotal:'" [(model)]="subtotal" [disabled]=true></input-text>
		<input-text [label]="'Shipping Fees:'" [(model)]="shipping_fee" [disabled]=true></input-text>
		<input-text [label]="'Handling Fees:'" [(model)]="handling_fee" [disabled]=true></input-text>
		<input-text [label]="'Net Profit:'" [(model)]="net_profit" [disabled]=true></input-text>
  </div>

<!-- <div>
  <p>
    <strong>net_profit = (selling_price - cost_price * discount) * quantity</strong>
  </p>
  <p>
    <strong>selling_price: </strong> this is the price coming from the order which is paid by your customer when they placed the order;
  </p>
  <p>
    <strong>discount:</strong> 'Championship - Package': $discount = 0.9;
              'Contender - Package': $discount = 0.95;
              'Playoff - Package': $discount = 0.97;
              </p>
    <p><strong>cost_price: </strong> this is the price you get from the League License Store</p>           
</div> -->

  <div *ngIf="selfProduct">
   	<h3 style="clear: both;">Self Fulfilled Products</h3>
  	<listing [(items)]="selfProducts" [fields]="selfProductFields" [bulkOptions]="bulkOptions" [order]="order" [sortabledirection]="sortabledirection" [actionbar]="false" [showPagination]="false"></listing>		
  </div>

  <div class="bottom-action-container">
    <div class="button-container">
        <button md-button class="btn btn-secondary" [routerLink]="'/invoices'">Back</button>
        <!-- <button *ngIf="editable" md-button class="btn btn-primary" (click)="saveOrder()">Save</button> -->
    </div>
	</div>
</div>


