<div class="page-container">
    <h1>Credit Card Details</h1>
    <form [formGroup]="cardform" *ngIf="cardform">
        <input-variable [input]="creditCard.last_digits" [form]="cardform"></input-variable>
        <input-variable [input]="creditCard.expiry_month" [form]="cardform"></input-variable>
        <input-variable [input]="creditCard.expiry_year" [form]="cardform"></input-variable>
    </form>

    <form [formGroup]="billingform" *ngIf="billingform">
        <input-variable [input]="billinginputs.billing_first_name" [form]="billingform"></input-variable>
        <input-variable [input]="billinginputs.billing_last_name" [form]="billingform"></input-variable>
        <input-variable [input]="billinginputs.billing_company" [form]="billingform"></input-variable>
        <input-variable [input]="billinginputs.billing_address1" [form]="billingform"></input-variable>
        <input-variable [input]="billinginputs.billing_address2" [form]="billingform"></input-variable>
        <input-variable [input]="billinginputs.billing_city" [form]="billingform"></input-variable>
        <input-variable [input]="billinginputs.billing_state" [form]="billingform"></input-variable>
        <input-variable [input]="billinginputs.billing_zip" [form]="billingform"></input-variable>
    </form>
</div>