/* Big Commerce styles for base */
body.big-commerce-app {background-color: #f6f7f9; font-family: "Source Sans Pro",Arial,"Helvetica Neue",sans-serif; padding: 10px 48px 120px;}
.big-commerce-app h1 {
    color: #34313f;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.3334;
    margin-bottom: 30px;
    font-weight: 300;
}
[md-tab-nav-bar] a {padding: 8px 10px 14px; width: auto !important; height: auto; line-height: 20px; min-width: 0; font-size: 15px; line-height: 20px; margin:0 10px 0 0;}
[md-tab-nav-bar] .mat-ink-bar {color: #4b71fc; background-color: #4b71fc; width: auto; height: 4px;}

/* listing container */
.page-container h1 {color: #34313f; font-size: 24px; line-height: 1.3334; margin-bottom: 10px; font-weight: 600;}

/* form container */
.form-container h1 {color: #34313f; font-size: 24px; line-height: 1.3334; margin-bottom: 10px; font-weight: 600;}
.form-input-container {background-color: #fff; border: 1px solid #e4e7ed; padding: 20px; border-radius: 2px; margin-bottom: 40px;}
.input-container { margin-bottom: 20px; }
.input-container label {padding: 7px 15px 7px 0; line-height: 1.3334; color: #5d5b66; width: 210px; display: inline-block; text-align: right;}
.input-container input[type="text"] {margin: 0 5px; width: 270px; height: 34px; padding: 8px 7px; line-height: 16px; border: 1px solid #d7d6d9; color: #34313f; border-radius: 2px; outline: none;}
.input-container input[type="text"][readonly], .input-container input[type="text"][disabled] {background-color:#f5f5f5; color: #909090;}
.input-container .input-error {font-size: 14px; color: #C62828; margin-left: 230px; padding: 4px;}
.input-container input[type="text"].invalid { border-color: #C62828; }


/* form bottom action bar */
.bottom-action-container { position: fixed; background-color: #FFF; display: block; width: 100%; margin: 0; left: 0; bottom: 0; border-top: 1px solid #d7d6d9;}
.button-container {float: right; margin: 15px;}
.action-bar.mat-toolbar .mat-toolbar-row {
    justify-content: space-between;
}
.bottom-pagination.mat-toolbar .mat-toolbar-row {
    justify-content: flex-end;
}
.action-buttons .btn-secondary .mat-button-wrapper {
    padding: 7px 23px 6px;
}

/* big commerce buttons */
.btn {padding: 0 8px !important;}
.btn-primary {background-color: #4b71fc; color: #FFF !important;}
.btn-secondary .mat-button-wrapper {border: 1px solid #4b71fc; color: #4b71fc !important; padding: 7px 20px 8px; border-radius: 2px;}
.btn-cancel .mat-button-wrapper {color: #4b71fc;}
.btn-secondary.mat-button, .btn-primary.mat-button, .btn-cancel.mat-button {min-width: 72px; padding: 0; margin: 0 5px;}

.float-left {float: left;}
.float-right {float: right;}

/* misc */
/*.cdk-overlay-pane {min-width: 80%; height: 80%;}*/
.no-tabs .mat-tab-list { display: none !important; }

/* toasts */
.error-toast {
    background: #D32F2F !important;
    color: #FFF;
    padding: 8px 18px !important;
    line-height: 0.3;
    text-align: center;
}

.success-toast {
    background: #43A047 !important;
    color: #FFF;
    padding: 8px 18px !important;
    line-height: 0.3;
    text-align: center;
}