<h1>Seller License</h1>
<nav md-tab-nav-bar>
    <a  md-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.url" 
        routerLinkActive #rla="routerLinkActive"
        [active]="rla.isActive">
            {{ link.name }}
    </a>
</nav>
<router-outlet></router-outlet>