<div class="sortable" (click)="sortRow()">
    <md-icon *ngIf="order != col">sort</md-icon>
    <md-icon *ngIf="order == col && sortabledirection == 'desc'">keyboard_arrow_down</md-icon>
    <md-icon *ngIf="order == col && sortabledirection == 'asc'">keyboard_arrow_up</md-icon>
</div>