<h1>League License FAQ</h1>

<h3>Where are the products from? </h3>
<p>These are all new, officially-licensed products produced by authorizedlicensees who have licenses with the leagues. Our system has been delivering licensed league products toretailers for over 27 years. All products are shipped from right here in the United States.</p>


<h3>Do I need to set up products with suppliers? </h3>
<p>League License is already set up with dozens ofmanufacturers and if you are a verified business with a tax ID you can start selling right away.</p>

<h3>On what eCommerce platforms will the app be available? </h3>
<p>We are building our app for all majoreCommerce platforms: Bigcommerce, Shopify, Magento and more</p>

<h3>What countries can participate? </h3>
<p>Currently, League License is only available to sellers delivering orders toaddresses in the United States.</p>

<h3>Do I need to set up products with suppliers?</h3>
<p>League License is already set up with dozens ofmanufacturers and if you are a verified business with a tax ID you can start selling right away.</p>

<h3>Will my orders automatically flow to the shipper?</h3> <p>Yes, your orders flow straight to the supplier after youreceive your retail payment from your customer. We love automation!</p>

<h3>Will my customers automatically receive their shipment tracking numbers?</h3>
<p>Yes, the shipment trackingnumbers flow all the way through to your customer.</p>

<h3>How much does the app cost? </h3>
<p>Our Contender version is $39.95 per month for unlimited orders per month.Our Playoff version is $79.95 per month for unlimited orders per month and a 5% discount on products. OurChampionship version is $149.95 per month for unlimited orders per month and a 10% discount on products.</p>

<h3>What if I have a question?</h3>
<p>League License is available to answer your emails and calls.  Just email <a href="mailto:support@leaguelicense.com">support@leaguelicense.com</a>  and we will respond as soon as possible.</p>

<h3>What are the terms?</h3>
<p>As a seller you are expected to provide superior customer service to your customers.You can view our <a href="http://www.leaguelicense.com/seller-participation-agreement.html">Seller Participation Agreement</a>
 here</p>




