<div class="page-container">
    <h1>Account Management</h1>
    <div class="account-plan-settings account-settings" >
        <!-- <div class="plan-type">
            <h3>Contender</h3>
            <p>Contender $39.95/mo</p>
            <button md-button class="btn btn-primary">Select Contender</button>
        </div>
        <div class="plan-type">
            <h3>Playoff</h3>
            <p>Playoff $79.95/mo</p>
            <p>5% Off All Supplier Prices</p>
            <button md-button class="btn btn-primary">Select Playoff</button>
        </div>
        <div class="plan-type">
            <h3>Championship</h3>
            <p>Championship $99.95/mo</p>
            <p>10% Off All Supplier Prices</p>
            <button md-button class="btn btn-primary">Select ChampionShip</button>
        </div> -->
        <div [ngClass]="{ 'active-plan-type': sub.active }" class="plan-type" *ngFor="let sub of subscriptions">
            <h3>{{ sub.level }}</h3>
            <!-- <p>{{ sub.desc }}</p> -->
            <button *ngIf="sub.active; else other_content" md-button class="btn btn-primary">{{ sub.level }}</button>

            <ng-template #other_content>
                <button md-button class="btn btn-cancel">{{ sub.level }}</button>
            </ng-template>
        </div>
    </div>

    <div class="account-settings" *ngIf="settings">
        <h3>General Settings</h3>
        <form [formGroup]="settings" (ngSubmit)="saveOrder()">
            <div *ngFor="let input of inputs" class="form-item">
                <input-variable [input]="input" [form]="settings"></input-variable>
            </div>
          <p> NOTES: product markup is a percentage value. As as example a value set to 100, would be double your wholesale price.</p>
        </form>

    </div>
    <button style="margin-bottom: 25px; float: right;" md-button class="btn btn-primary" (click)="saveSettings()">Save</button>
    
    <div class="account-settings" *ngIf="creditCard">
        <h3>Credit Card Settings</h3>
        <input-text [label]="'Last Digits'" [(model)]="creditCard.last_digits" [disabled]="true"></input-text>
        <input-text [label]="'Expiry Year'" [(model)]="creditCard.expiry_month" [disabled]="true"></input-text>
        <input-text [label]="'Expiry Month'" [(model)]="creditCard.expiry_year" [disabled]="true"></input-text>
    </div>
    <button style="float: right;" md-button class="btn btn-primary" (click)="editCreditCard()">Edit Credit Card</button>
   <!--  <div class="bottom-action-container">
        <div class="button-container">
            <button md-button class="btn btn-primary" (click)="saveSettings()">Save</button>
        </div>
    </div> -->
</div>