.account-settings {
    display: flex;
    border: 1px solid #ddd;
    padding: 1em;
    margin-bottom: 1.5em;
    flex-wrap: wrap;
    width: 100%;
}
.account-settings > h3 {
    margin-top: 0;
    width: 100%;
}
.account-plan-settings {
    flex-direction: row;
    justify-content: space-between;
}
.plan-type {
    border: 1px solid #ddd;
    margin-right: 1em;
    padding: 2em;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.plan-type h3 {
    margin:0 0 1em;
}
.plan-type button {
    padding: 0 16px;
}

.active-plan-type {
    border: 1px solid #4b71fc;
}