<div>
    <h1>Home</h1>
    <a (click)="callApi('get');">Api Get</a>
    <a (click)="callApi('post');">Api Post</a>
    <a (click)="callApi('put');">Api Put</a>
    <a (click)="callApi('delete');">Api Delete</a>
</div>