.report-card {
    width: 44%;
    float: left;
    margin-right: 10px;
    min-height: 380px;
}
.report-box-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}