<div class="page-container">
    <h1>Reports &amp; Exports</h1>
    <md-card class="report-card">
        <md-card-header>
            <md-card-title>Export Orders</md-card-title>
            <md-card-subtitle>Shipped/Unshipped orders</md-card-subtitle>
        </md-card-header>
        <md-card-content>
            <form [formGroup]="orders" (ngSubmit)="exportOrders()">
                <div *ngFor="let input of export_inputs" class="form-item">
                    <input-variable [input]="input" [form]="orders"></input-variable>
                </div>
            </form>
            <p>Export Orders Processed By SL</p>
            <div class="report-box-line">
                <p>Reports will download in CSV format.</p>
                <button md-button class="btn btn-primary" (click)="createReport('export orders')">Download Orders</button>
            </div>
        </md-card-content>
        <md-card-actions>
            
        </md-card-actions>
    </md-card>

    <md-card class="report-card">
        <md-card-header>
            <md-card-title>Sales</md-card-title>
            <md-card-subtitle>Create Sales Reports</md-card-subtitle>
        </md-card-header>
        <md-card-content>
            <form [formGroup]="sales">
                <div *ngFor="let input of sales_inputs" class="form-item">
                    <input-variable [input]="input" [form]="sales"></input-variable>
                </div>
            </form>
            <p>Reports will download in CSV format.</p>
            <div class="report-box-line">
                <span>Total Sales (MAP Based)</span>
                <button md-button class="btn btn-primary" (click)="createReport('total_sales')">Download Orders</button>
            </div>
            <div class="report-box-line">
                <span>Total Cost (supplier price &amp; Fees)</span>
                <button md-button class="btn btn-primary" (click)="createReport('total_cost')">Download Orders</button>
            </div>
            <div class="report-box-line">
                <span>Gross Profit</span>
                <button md-button class="btn btn-primary" (click)="createReport('gross_profit')">Download Orders</button>
            </div>
        </md-card-content>
    </md-card>
</div>