.tbl {width: 100%; font-family: "Source Sans Pro",Arial,"Helvetica Neue",sans-serif; margin: -16px 0;}
.tbl-border {border: 1px solid #e4e7ed !important;}
.tbl thead th {background: #fbfbfc; border-color: #e4e7ed; text-align: left; font-size: 15px; padding: 11px 10px; font-weight: 700; min-height: 35px;}
.tbl tbody td {background: #fff; padding: 10px; border-top: 1px solid #e4e7ed; min-height: 35px;}
.tbl thead th .heading-items {display: flex; flex-direction: row;}

.bottom-pagination {
    background: #fbfbfc;
    border-color: #e4e7ed;
    border: 1px solid #e4e7ed;
    border-radius: 0;
    font-size: 15px;
    line-height: 1.33334;
    padding: 7px;
    display: flex !important;
    justify-content: flex-end;
}
.action-buttons, .action-left {
    display: flex;
}
.action-buttons {
    border-right: 1px solid #e4e7ed;
    margin: -8px 16px -8px -4px;
    padding: 8px 8px 8px 0px;
}
/* action bar css */
.action-bar {
    background: #fbfbfc;
    border-color: #e4e7ed;
    border: 1px solid #e4e7ed;
    border-radius: 0;
    font-size: 15px;
    line-height: 1.33334;
    padding: 7px;
    display: flex !important;
}
.action-bar [md-toolbar-row], .mat-toolbar {
    height: auto !important;
    display: flex !important;
}
.action-bar .mat-toolbar-layout {}
.centered {
    display: inline-block;
    width: 100%;
    text-align: center;
}
select.listing-select {
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 3px;
}