<md-toolbar class="action-bar" *ngIf="actionbar">
    <div class="action-left">
        <div class="action-buttons" *ngIf="actionButtons.length > 0">
            <button md-button class="btn-secondary" *ngFor="let action of actionButtons" (click)="clickAction(action.action)">{{ action.name }}</button>
        </div>
        <action-bar [bulkOptions]="bulkOptions" (bulkOptionChange)="updateBulk($event)"  (filterItems)="filterItems($event)" [keywordFilter]="keywordFilter"></action-bar>
    </div>
    <div class="float-right">
        <listing-pagination [page]="page" [maxpages]="maxpages" [(limit)]="limit" (onChange)="pageChange($event)" *ngIf="showPagination"></listing-pagination>
    </div>
</md-toolbar>
<table class="tbl tbl-admin tbl-border" cellspacing="0">
    <thead>
        <tr>
            <th *ngFor="let heading of fields">
                <div class="heading-items">
                    <span *ngIf="!heading.type">{{ heading.name }}</span>
                    <rd-checkbox *ngIf="heading.type === 'checkbox'" [(check)]="allItems" (checkboxChange)="selectItems($event);"></rd-checkbox>
                    <sortable [order]="order" [sortabledirection]="sortabledirection" [col]="heading.col" *ngIf="heading.sortable" (updateSort)="updateSort($event)" ></sortable>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of list; let i = index">
            <td *ngFor="let field of fields">
                <span *ngIf="field.basic">{{ row[field.col] }}</span>
                <span *ngIf="field.centered" class="centered">{{ row[field.col] }}</span>
                <span *ngIf="field.currency">{{ row[field.col] | currency:'USD':true }}</span>
                <rd-checkbox *ngIf="field.type === 'checkbox' && (!field.excludable || field.excludable !== row[field.col])" [(check)]="row.selected" (checkboxChange)="updateListCheck($event, i)"></rd-checkbox>
                <a *ngIf="field.link" href="{{ row[field.link.col] }}">{{ row[field.col] }}</a>
                <action-select *ngIf="field.actions" [options]="field.actions.options" [row]="row"></action-select>
                <!-- custom dropdown -->
                <div *ngIf="field.dropdown">
                    <select [(ngModel)]="row[field.col]" *ngIf="field.excludable !== row[field.col]" class="listing-select">
                        <option *ngFor="let option of field.dropdown.options" [ngValue]="option">{{ option }}</option>
                    </select>
                    <span *ngIf="field.excludable === row[field.col]">{{ field.excludable }}</span>
                </div>
                <!-- quantity select -->
                <!-- <pre>{{ row | json }}</pre> -->
                <!-- <pre>{{ field | json }}</pre> -->
                <quantity-select *ngIf="field.quantity" [qsvalue]="row[field.col]" (inputValueChange)="update($event, row, field.col)" [maxQty]="row[field.max] ? row[field.max] : field.max"></quantity-select>
            </td>
        </tr>
    </tbody>
</table>
<md-toolbar class="bottom-pagination" *ngIf="showPagination">
    <listing-pagination [page]="page" [maxpages]="maxpages" [(limit)]="limit" (onChange)="pageChange($event)"  ></listing-pagination>
</md-toolbar>